/* CONOCENOS */
.mapa {
    display: flex;
    color: #ffffff;
    padding: 10px;
    gap: 30px;
    
    p {
        display: flex;
        background-color: #4d0f0f;
        font-family: "Poppins", sans-serif;
        background-position: left;
        font-size: 20px;
}
}